<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hitesh.musicplayer">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:launchMode="singleInstance"
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".ControllerService" />

        <receiver
            android:name=".BRService"
            android:exported="false" />
        <receiver
            android:name=".BRPlayer"
            android:exported="false">
            <intent-filter>
                <action android:name="com.hitesh.musicplayer.ACTION_PAUSE"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".ControllerService$PauseUpdater"
            android:exported="false">
            <intent-filter>
                <action android:name="com.hitesh.musicplayer.UPDATE_PAUSE"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>